In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as plt
import seaborn as sns

In [2]:
pez = pd.read_excel(io="Documents/FIJI IMPORTS.xlsx", sheet_name='Sheet1')
smi = pd.read_excel(io="Documents/FIJI IMPORTS.xlsx", sheet_name='Sheet2')
vacht = pd.read_excel(io="Documents/FIJI IMPORTS.xlsx", sheet_name='Sheet3')
thresh = pd.read_excel(io="Documents/FIJI IMPORTS.xlsx", sheet_name='Thresh')

In [70]:
ttest = thresh[['Image','PEZ']].dropna()
ttest

    Image    PEZ
0    2837  359.0
1    2942  378.0
2    2956  303.0
3    2956  280.0
4    2938  285.0
5    2936  187.0
6    2849  354.0
7    2938  346.0
8    2968  513.0
9    2855  259.0
10   2855  282.0
11   2837  346.0

In [62]:
## for the SPLIT functions, change the 3 to the number of groups you need (48)

pez.columns = np.arange(len(pez.columns))
drop1 = list(range(0,pez.shape[1],4))
df1 = pez.drop(drop1, axis=1)
df1.columns = np.arange(len(df1.columns))
drop2 = list(range(2,df1.shape[1],3))
df2 = df1.drop(drop2, axis=1).drop(0)
df2.columns = np.arange(len(df2.columns))
SPLIT1 = np.array_split(df2, 12, axis=1)#[1]
peztable = [item.dropna() for item in SPLIT1]

########################################################### LOOP FUNCTIONS ##########################################################################
psum = [item.sum() for item in peztable]
pmean = [item.mean() for item in peztable]
pcount = [item.count() for item in peztable]
psize = [item.median() for item in peztable]

pfill = pd.DataFrame(psum).fillna(0)
pfill1 = pd.DataFrame(pmean).fillna(0)
pfill2 = pd.DataFrame(pcount).fillna(0)
pfill3 = pd.DataFrame(psize).fillna(0)

pezsums = pd.DataFrame(pfill.iloc[0:,0::2].sum(0)).set_axis(['pEz Sums'], axis='columns').reset_index().iloc[0:, 1:]
pezmeans = pd.DataFrame(pfill1.iloc[0:,1::2].sum(0)).set_axis(['pEz Means'], axis='columns').reset_index().iloc[0:, 1:]
pezcounts = pd.DataFrame(pfill2.iloc[0:,0::2].sum(0)).set_axis(['pEz Counts'], axis='columns').reset_index().iloc[0:, 1:]
pezsizes = pd.DataFrame(pfill3.iloc[0:,0::2].sum(0)).set_axis(['pEz Sizes'], axis='columns').reset_index().iloc[0:, 1:]

C:\Users\ecbut\AppData\Roaming\Python\Python312\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [102]:
#insert threshold table into concat function once all data collected

table1 = pd.concat((ttest, pezsums, pezmeans, pezcounts, pezsizes), axis=1)
table1

    Image    PEZ  pEz Sums    pEz Means  pEz Counts  pEz Sizes
0    2837  359.0   282.449   781.479143      3219.0      0.047
1    2942  378.0   211.396   820.483980      2663.0      0.047
2    2956  303.0   340.067   652.469950      3823.0      0.054
3    2956  280.0   472.869   635.563193      4348.0      0.061
4    2938  285.0   239.072   632.279425      2815.0      0.052
5    2936  187.0   311.376   410.317779      2999.0      0.051
6    2849  354.0   181.159   788.545285      2333.0      0.054
7    2938  346.0   272.238   744.223862      2603.0      0.047
8    2968  513.0   207.105  1163.123069      2145.0      0.060
9    2855  259.0   308.897   597.518797      2634.0      0.050
10   2855  282.0   381.754   621.492161      4230.0      0.050
11   2837  346.0   228.247   736.083846      3314.0      0.042

In [72]:
vacht.columns = np.arange(len(vacht.columns))
drop3 = list(range(0,vacht.shape[1],4))
df3 = vacht.drop(drop3, axis=1) 
df3.columns = np.arange(len(df3.columns))
drop4 = list(range(2,df3.shape[1],3))
df4 = df3.drop(drop4, axis=1).drop(0)
SPLIT2 = np.array_split(df4, 12, axis=1)#[1]
vachttable = [item.dropna() for item in SPLIT2]

########################################################################################################################################################
vsum = [item.sum() for item in vachttable]
vcount = [item.count() for item in vachttable]
vsize = [item.median() for item in vachttable]

vfill = pd.DataFrame(vsum).fillna(0)
vfill1 = pd.DataFrame(vcount).fillna(0)
vfill2 = pd.DataFrame(vsize).fillna(0)

vachtsums = pd.DataFrame(vfill.iloc[0:,0::6].sum(0)).set_axis(['VAChT Sums'], axis='columns').reset_index().iloc[0:, 1:]
vachtcounts = pd.DataFrame(vfill1.iloc[0:,0::6].sum(0)).set_axis(['VAChT Counts'], axis='columns').reset_index().iloc[0:, 1:]
vachtsizes = pd.DataFrame(vfill2.iloc[0:,0::6].sum(0)).set_axis(['VAChT Sizes'], axis='columns').reset_index().iloc[0:, 1:]

C:\Users\ecbut\AppData\Roaming\Python\Python312\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [77]:
table2 = pd.concat((vachtsums, vachtcounts, vachtsizes), axis=1)
table2

    VAChT Sums  VAChT Counts  VAChT Sizes
0       57.804          49.0       1.0280
1       66.778          51.0       0.4500
2       60.854          37.0       1.5150
3       74.585          49.0       0.6040
4       39.319          44.0       0.6045
5       33.474          29.0       0.8140
6       24.128          27.0       0.4820
7       29.701          27.0       0.9410
8       32.233          25.0       0.6330
9       45.655          41.0       0.8660
10      34.385          36.0       0.7970
11      44.752          39.0       0.6040

**COLOCALIZATION PART**

        1) VACHT-SMI and PEZ separately
        2) VACHT-SMI-PEZ

In [378]:
#### RE-CHECK THIS FUCKER ###################


vcol = df4.replace({'0':np.nan, 0:np.nan})
SPLIT3 = np.array_split(vcol, 12, axis=1)#[1]
non = [item.set_axis(['A1','M1','A2','M2','A3','M3'], axis='columns') for item in SPLIT3]
vachtcol = [item['M3'].dropna() for item in non]
vachtcol1 = [item['M2'].dropna() for item in non]

#######################################################################################################################################################
Cvsum = [item.sum() for item in vachtcol]
Cvcount = [item.count() for item in vachtcol]
Cvsize = [item.median() for item in vachtcol]
Cvmean = [item.mean() for item in vachtcol]

Pvachtsums = pd.DataFrame(Cvsum).fillna(0).set_axis(['VAChT-PEZ Sums'], axis='columns')
Pvachtcounts = pd.DataFrame(Cvcount).fillna(0).set_axis(['VAChT-PEZ Counts'], axis='columns')
Pvachtsizes = pd.DataFrame(Cvsize).fillna(0).set_axis(['VAChT-PEZ Sizes'], axis='columns')
Pvachtmeans = pd.DataFrame(Cvmean).fillna(0).set_axis(['VAChT-PEZ Means'], axis='columns')

Cvsum1 = [item.sum() for item in vachtcol1]
Cvcount1 = [item.count() for item in vachtcol1]
Cvsize1 = [item.median() for item in vachtcol1]

Cvachtsums = pd.DataFrame(Cvsum1).fillna(0).set_axis(['VAChT-SMI Sums'], axis='columns')
Cvachtcounts = pd.DataFrame(Cvcount1).fillna(0).set_axis(['VAChT-SMI Counts'], axis='columns')
Cvachtsizes = pd.DataFrame(Cvsize1).fillna(0).set_axis(['VAChT-SMI Sizes'], axis='columns')

C:\Users\ecbut\AppData\Roaming\Python\Python312\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [379]:
table3 = pd.concat((Cvachtsums, Cvachtcounts, Cvachtsizes, Pvachtsums, Pvachtcounts, Pvachtsizes, Pvachtmeans), axis=1)
table3

,VAChT-SMI Sums,VAChT-SMI Counts,VAChT-SMI Sizes,VAChT-PEZ Sums,VAChT-PEZ Counts,VAChT-PEZ Sizes,VAChT-PEZ Means
0,4164.032,32,115.9325,705.455,36,10.2925,19.595972
1,4838.062,39,135.6730,814.036,31,14.1500,26.259226
2,4266.269,27,153.1120,645.589,28,17.2780,23.056750
3,6728.189,40,224.2555,2232.831,41,36.3130,54.459293
4,3664.534,28,133.3850,893.590,23,16.1340,38.851739
5,1219.498,15,83.8490,437.770,20,11.5540,21.888500
6,4303.116,24,251.2215,635.305,17,32.2870,37.370882
7,1489.085,20,46.0510,456.794,19,9.1190,24.041789
8,2348.921,17,176.7610,202.469,13,12.8470,15.574538
9,4849.864,33,155.6630,621.677,23,19.4740,27.029435
10,4849.171,31,169.1830,1103.320,28,34.2895,39.404286
11,1915.497,20,64.8690,342.423,24,12.0975,14.267625

In [94]:
vcol2 = pd.DataFrame(vcol)
vcol2.columns = np.arange(len(vcol2.columns))
drop5 = list(range(0,vcol2.shape[1],6))
df5 = vcol2.drop(drop5, axis=1)
df5.columns = np.arange(len(df5.columns))
drop6 = list(range(0,df5.shape[1],5))
df6 = df5.drop(drop6, axis=1)

SPLIT4 = np.array_split(df6, 12, axis=1)#[1]
vachtcol2 = [item.dropna() for item in SPLIT4]

Cvsum2 = [item.sum() for item in vachtcol2]
Cvcount2 = [item.count() for item in vachtcol2]
Cvsize2 = [item.median() for item in vachtcol2]
Cvmean2 = [item.mean() for item in vachtcol2]

Cvfill02 = pd.DataFrame(Cvsum2).fillna(0)
Cvfill12 = pd.DataFrame(Cvcount2).fillna(0)
Cvfill22 = pd.DataFrame(Cvsize2).fillna(0)
Cvfill32 = pd.DataFrame(Cvmean2).fillna(0)

Cvachtsums2 = pd.DataFrame(Cvfill02.iloc[0:,0::4].sum(0)).set_axis(['VAChT-PEZ (with SMI) Sums'], axis='columns').reset_index().iloc[0:, 1:]
Cvachtcounts2 = pd.DataFrame(Cvfill12.iloc[0:,0::4].sum(0)).set_axis(['VAChT-PEZ (with SMI) Counts'], axis='columns').reset_index().iloc[0:, 1:]
Cvachtsizes2 = pd.DataFrame(Cvfill22.iloc[0:,0::4].sum(0)).set_axis(['VAChT-PEZ (with SMI) Sizes'], axis='columns').reset_index().iloc[0:, 1:]
Pvachtmeans2 = pd.DataFrame(Cvfill32.iloc[0:,3::4].sum(0)).set_axis(['VAChT-pEz (with SMI) Means'], axis='columns').reset_index().iloc[0:, 1:]

C:\Users\ecbut\AppData\Roaming\Python\Python312\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [100]:
table4 = pd.concat((Cvachtsums2, Cvachtcounts2, Cvachtsizes2, Pvachtmeans2), axis=1)
table4

,VAChT-PEZ (with SMI) Sums,VAChT-PEZ (with SMI) Counts,VAChT-PEZ (with SMI) Sizes,VAChT-pEz (with SMI) Means
0,36.761,26.0,1.3290,18.736885
1,52.830,26.0,2.0485,21.719923
2,43.416,22.0,1.7975,20.939045
3,55.860,34.0,0.5860,63.030382
4,15.106,15.0,1.0220,49.114400
5,18.304,11.0,1.2150,19.048364
6,16.870,16.0,0.5305,38.415438
7,18.596,16.0,0.9570,25.288875
8,13.515,10.0,0.6320,14.038200
9,31.309,22.0,1.2695,27.707955
10,29.234,25.0,0.9170,38.166920
11,15.455,12.0,0.9620,14.197333

In [349]:
non = [item.set_axis(['A1','M1','A2','M2','A3','M3'], axis='columns') for item in SPLIT3]
non1 = [item[item['M3'].isnull()] for item in non]
non2 = [item[item['M2'].isnull()] for item in non1]
NON = [item['A3'].dropna() for item in non1]
NON1 = [item['A3'].dropna() for item in non2]

nonsum = [item.sum() for item in NON]
noncount = [item.count() for item in NON]
nonsize = [item.median() for item in NON]

NONSUM = [item.sum() for item in NON1]
NONCOUNT = [item.count() for item in NON1]
NONSIZE = [item.median() for item in NON1]



nonfill = pd.DataFrame(nonsum).set_axis(['VAChT no PEZ Sums'], axis='columns')
nonfill1 = pd.DataFrame(noncount).set_axis(['VAChT no PEZ Counts'], axis='columns')
nonfill2 = pd.DataFrame(nonsize).set_axis(['VAChT no PEZ Sizes'], axis='columns')

nonfill3 = pd.DataFrame(NONSUM).set_axis(['VAChT no PEZ-SMI Sums'], axis='columns')
nonfill4 = pd.DataFrame(NONCOUNT).set_axis(['VAChT no PEZ-SMI Counts'], axis='columns')
nonfill5 = pd.DataFrame(NONSIZE).set_axis(['VAChT no PEZ-SMI Sizes'], axis='columns')

In [353]:
table5 = pd.concat((nonfill, nonfill1, nonfill2, nonfill3, nonfill4, nonfill5), axis=1)
table5

,VAChT no PEZ Sums,VAChT no PEZ Counts,VAChT no PEZ Sizes,VAChT no PEZ-SMI Sums,VAChT no PEZ-SMI Counts,VAChT no PEZ-SMI Sizes
0,8.889,13,0.7330,5.558,7,0.7590
1,12.176,20,0.3495,2.300,7,0.2830
2,10.118,9,1.3730,3.581,4,0.8995
3,7.357,8,0.5360,0.851,2,0.4255
4,17.473,21,0.5720,4.987,8,0.5210
5,5.950,9,0.6430,3.116,5,0.5380
6,6.766,10,0.3605,0.943,2,0.4715
7,8.817,8,0.9050,3.451,4,0.7710
8,12.547,12,0.4915,2.735,5,0.4340
9,13.243,18,0.6125,4.679,7,0.5400
10,4.012,8,0.4890,0.991,2,0.4955
11,7.017,15,0.4040,3.073,7,0.4040

In [354]:
## could make 'Image' the index (maybe 'subgroup') of the 4 tables then merge and maybe it'll sort them - or 'Group'
## or use the multilevel table function on the concatted version/

TABLE = pd.concat((table1, table2, table3, table4, table5), axis=1)
TABLE

,Image,PEZ,pEz Sums,pEz Means,pEz Counts,pEz Sizes,VAChT Sums,VAChT Counts,VAChT Sizes,VAChT-SMI Sums,...,VAChT-PEZ (with SMI) Sums,VAChT-PEZ (with SMI) Counts,VAChT-PEZ (with SMI) Sizes,VAChT-pEz (with SMI) Means,VAChT no PEZ Sums,VAChT no PEZ Counts,VAChT no PEZ Sizes,VAChT no PEZ-SMI Sums,VAChT no PEZ-SMI Counts,VAChT no PEZ-SMI Sizes
0,2837,359.0,282.449,781.479143,3219.0,0.047,57.804,49.0,1.0280,36.761,...,36.761,26.0,1.3290,18.736885,8.889,13,0.7330,5.558,7,0.7590
1,2942,378.0,211.396,820.483980,2663.0,0.047,66.778,51.0,0.4500,52.830,...,52.830,26.0,2.0485,21.719923,12.176,20,0.3495,2.300,7,0.2830
2,2956,303.0,340.067,652.469950,3823.0,0.054,60.854,37.0,1.5150,43.416,...,43.416,22.0,1.7975,20.939045,10.118,9,1.3730,3.581,4,0.8995
3,2956,280.0,472.869,635.563193,4348.0,0.061,74.585,49.0,0.6040,55.860,...,55.860,34.0,0.5860,63.030382,7.357,8,0.5360,0.851,2,0.4255
4,2938,285.0,239.072,632.279425,2815.0,0.052,39.319,44.0,0.6045,15.106,...,15.106,15.0,1.0220,49.114400,17.473,21,0.5720,4.987,8,0.5210
5,2936,187.0,311.376,410.317779,2999.0,0.051,33.474,29.0,0.8140,18.304,...,18.304,11.0,1.2150,19.048364,5.950,9,0.6430,3.116,5,0.5380
6,2849,354.0,181.159,788.545285,2333.0,0.054,24.128,27.0,0.4820,16.870,...,16.870,16.0,0.5305,38.415438,6.766,10,0.3605,0.943,2,0.4715
7,2938,346.0,272.238,744.223862,2603.0,0.047,29.701,27.0,0.9410,18.596,...,18.596,16.0,0.9570,25.288875,8.817,8,0.9050,3.451,4,0.7710
8,2968,513.0,207.105,1163.123069,2145.0,0.060,32.233,25.0,0.6330,13.515,...,13.515,10.0,0.6320,14.038200,12.547,12,0.4915,2.735,5,0.4340
9,2855,259.0,308.897,597.518797,2634.0,0.050,45.655,41.0,0.8660,31.309,...,31.309,22.0,1.2695,27.707955,13.243,18,0.6125,4.679,7,0.5400
10,2855,282.0,381.754,621.492161,4230.0,0.050,34.385,36.0,0.7970,29.234,...,29.234,25.0,0.9170,38.166920,4.012,8,0.4890,0.991,2,0.4955
11,2837,346.0,228.247,736.083846,3314.0,0.042,44.752,39.0,0.6040,15.455,...,15.455,12.0,0.9620,14.197333,7.017,15,0.4040,3.073,7,0.4040

In [360]:
trial = pd.DataFrame(TABLE[['VAChT Counts','VAChT-pEz Counts','VAChT no PEZ Counts']])
trial['Diff'] = trial['VAChT Counts'] - trial['VAChT no PEZ Counts']
TABLE[['VAChT-pEz Counts', 'VAChT-PEZ (with SMI) Counts']]

    VAChT-pEz Counts  VAChT-PEZ (with SMI) Counts
0               26.0                         26.0
1               26.0                         26.0
2               22.0                         22.0
3               34.0                         34.0
4               15.0                         15.0
5               11.0                         11.0
6               16.0                         16.0
7               16.0                         16.0
8               10.0                         10.0
9               22.0                         22.0
10              25.0                         25.0
11              12.0                         12.0

In [ ]:
with pd.ExcelWriter("C:/Users/ecbut/Documents/PYTHON IMPORTS.xlsx") as writer:  
    TABLE.to_excel(writer, sheet_name='All Data')
    table1.to_excel(writer, sheet_name='pEz')
    table2.to_excel(writer, sheet_name='VAChT')
    table3.to_excel(writer, sheet_name='VAChT Col')
    table4.to_excel(writer, sheet_name='VAChT-SMI-PEZ')